@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+PL:wght@100..400&display=swap");
/* ======================== google font ========================= */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* ============================================================== */

@layer base {
  html {
    font-family: "Noto Sans", sans-serif;
  }
  .animate-scroll {
    animation: scroll 2s infinite
      linear forwards alternate;
}

@keyframes scroll {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

}

::-webkit-scrollbar {
  display: none;
}